.contenedorf{
    @extend %display
}

.lif{
    list-style: none;
}

.iconoredes{
    list-style: none;
}

.imgf{
    width: 20px;
}

.mapaf{
    display: flex;
    justify-content: center;
    width: 100%;
}

.imapf{
    width: 75%;
}